@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  width: 100%;
  margin: auto;
  background: #0077b6;
  position: fixed;
}

menu{
  text-align: center;
  justify-content: center;
}

nav ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 30px 10px 30px 50px;
  font-family: Montserrat;
}

nav ul li a{
text-align: center;
padding: 0px 20px 0px 20px;
align-items: center;
color: #ffff;
text-decoration: none;
}

.logo{
  padding-top: 15px;
  padding-left: 800px;

}

#home img {
  padding: 100px 30px 20px 100px;
  border-radius: 50%;
}

#home {
  display: flex;
  justify-content: space-between;
  font-family: Montserrat;
  background: #94bdf2;
  margin: 5px 0px 5px 0px;
}

.profil {
  padding: 120px 30px 20px 30px;
}

.profil h1 {
  padding-bottom: 15px;
  text-align: center;
}
.profil h3 {
  padding-bottom: 5px;
}
.profil h4 {
  padding-bottom: 5px;
}
.profil p {
  padding-bottom: 15px;
  text-align: justify;
}

#about {
  font-family: Montserrat;
  padding: 25px 20px 20px 25px;
  text-align: justify;
}

#about h1 {
  text-align: center;
  padding: 10px 0px 10px 0px;
}

#about h4 {
  padding-bottom: 10px;
}
#about p {
  padding-bottom: 10px;
}

.list-about {
  display: flex;
  margin: 10px 10px 10px 30px;
}

.title {
  padding: 5px 30px 10px 40px;
  text-align: justify;
}

#projects {
  font-family: Montserrat;
  padding: 25px 20px 20px 25px;
  text-align: justify;
}

.explore {
  display: flex;
  margin: 10px 30px 10px 30px;
  padding: 15px 5px 15px 5px;
  background: #94bdf2;
}

#projects h1 {
  text-align: center;
  padding: 10px 0px 10px 0px;
}

#projects img {
  border-radius: 3%;
}

.card-projects {
  padding: 35px 35px 35px 35px;
  margin-top: 5px;
}

.card-projects h3 {
  padding-bottom: 10px;
}

.card-projects h4 {
  padding-bottom: 3px;
}

.card-projects p {
  padding-bottom: 5px;
}

#blog {
  font-family: Montserrat;
  padding: 25px 20px 20px 25px;
  text-align: justify;
}

#blog h1 {
  text-align: center;
  padding: 10px 0px 10px 0px;
}

.card-blog {
  display: flex;
  margin: 10px 30px 10px 30px;
  padding: 15px 5px 15px 5px;
}

.card {
  padding-top: 0px;
  text-align: justify;
  padding-left: 50px;
}

.card p {
  padding-bottom: 5px;
}

footer {
  font-family: Montserrat;
  text-align: center;
  padding: 20px 0px 20px 0px;
  background: #0077b6;
  color: #ffff;
}

footer a{
  color: red;
  text-decoration: none;
}
